<!doctype html>
<html lang="en">
  <head>
    <title>Main Site</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
  {% if messages %}
    {% for message in messages %}   
        <script lang="Javascript">
          alert("{{message}}")
        </script>
    {% endfor %}
  {% endif %}
      <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-secondary">
            <a class="navbar-brand" href="#">SITE</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Stuff</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                      {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                          <a class="dropdown-item" href="postarticlecreate/">Post Your Article</a>
                          <a class="dropdown-item" href="/changepassword">Change Password</a>
                          <a class="dropdown-item" href="/admin">Admin Page</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="postarticlecreate/">Post Your Article</a>
                          <a class="dropdown-item" href="userprofile/">User Profile</a>
                          <a class="dropdown-item" href="/changepassword">Change Password</a>
                          <a class="dropdown-item" href="/logout">Logout</a>
                        {% endif %}
                      {% else %}
                        <a class="dropdown-item" href="#">Home</a>
                        <a class="dropdown-item" href="/login/">Login</a>
                        <a class="dropdown-item" href="/register/">Register</a>
                      {% endif %}
                    </div>
                </li>
                </ul>
            </div>
      </nav>
      {% for user_Article in user_Article_data|slice:"::-1" %}
        <div style= "margin:1rem" class="row justify-content-center">
          <div class="col-sm-6">
            <div class="row card text-center bg-secondary">
                <div class="card-header text-light font-weight-bold">
                    <h3>Writer By {{user_Article.USER}}<h3>
                </div>
                <div class="row">
                  <div class="card-body">
                    <h5 class="card-title">{{user_Article.Article_title}}</h5>
                    <p class="card-text text-lg-left">{{user_Article.Article}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>          
      {% endfor %}
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>


    
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>